h1{margin-bottom:20px;}
div.photo{min-height:400px; background-size:cover; background-position:center center; margin-bottom:20px;}
div.jssocials-share{display:inline-block; margin-right:12px;}
a.jssocials-share-link{line-height:16px;}
a.jssocials-share-link i{display:inline-block; margin-right:2px; line-height:16px;}
div.html{margin-bottom:20px;}
h2{margin-bottom:20px;}